.App .card-container {
  padding: 50px;
  display: flex;
  text-align: center;
}

.card-container .input-forms {
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  max-width: 100%;
}

.card-container .custom-button-group {
  display: flex;
  margin-left: 25px;
  margin-top: 50px;
}

.card-container .custom-button-group button {
  margin-right: 5px;
}

.card-container form {
  width: 100%;
}

.card-container .flight-config-row {
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
}

.card-container .flight-config-row .select-section {
  margin-top: 50px;
  text-transform: uppercase;
}

.card-container form .place-textfield {
  width: 35%;
  margin: 0 10px;
}

.card-container .checkbox {
  text-align: left;
  margin-left: 10px;
}

.card-tabs {
  min-width: 100%;
  margin: 30px auto;
}

.card-tabs .MuiTab-textColorPrimary.Mui-selected {
  color: #007e8f;
}

.PrivateTabIndicator-root-1.PrivateTabIndicator-colorPrimary-2.MuiTabs-indicator {
  background-color: #007e8f !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #007e8f !important;
}
.MuiInput-underline,
.MuiInput-underline:after,
.MuiInput-underline:hover {
  border-bottom-color: transparent !important;
}
